<div class="modal-overlay">
  <div class="modal-card">
    <h3>{{ userToEdit ? '✏️ Editar Usuario' : '👤 Crear Usuario' }}</h3>
    <hr class="divider">

    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="form-grid">
        
        <div class="form-group">
          <label>Nombre completo</label>
          <input type="text" formControlName="name" placeholder="Ej. Juan Pérez">
          @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
            <small class="error-text">El nombre es requerido (mín. 3 caracteres).</small>
          }
        </div>

        <div class="form-group">
          <label>Correo Electrónico</label>
          <input type="email" formControlName="email" placeholder="juan@ejemplo.com">
          @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
            <small class="error-text">Ingresa un correo electrónico válido.</small>
          }
        </div>

        <div class="form-group">
          <label>Rol de Usuario</label>
          <div class="select-wrapper">
            <select formControlName="role">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
              <option value="Guest">Guest</option>
            </select>
          </div>
        </div>

      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-cancel" (click)="onClose.emit()">Cancelar</button>
        <button type="submit" class="btn btn-save" [disabled]="userForm.invalid">Guardar Usuario</button>
      </div>
    </form>
  </div>
</div>