<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>

<div class="main-container">
  <p-card>
    <p-toolbar>
      <p-select
        [options]="roles"
        placeholder="Rol"
        (onChange)="dt.filter($event.value, 'role', 'equals')"
      >
      </p-select>
      <ng-template #start>
        <h2 style="margin: 0">Gestión de Usuarios</h2>
      </ng-template>

      <ng-template #end>
        <div style="display: flex; gap: 12px; align-items: center">
          <p-iconfield>
            <p-inputicon class="pi pi-search"> </p-inputicon>

            <input
              pInputText
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar usuario"
            />
          </p-iconfield>

          <button
            pButton
            icon="pi pi-plus"
            label="Nuevo Usuario"
            (click)="openCreateForm()"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>
    <div class="stats">
      <div class="stat">
        <h3>
          {{ users().length }}
        </h3>

        <span>Total Usuarios</span>
      </div>

      <div class="stat">
        <h3>
          {{ activeUsers }}
        </h3>

        <span>Activos</span>
      </div>

      <div class="stat">
        <h3>
          {{ inactiveUsers }}
        </h3>

        <span>Inactivos</span>
      </div>

      <div class="stat">
        <h3>
          {{ adminUsers }}
        </h3>

        <span>Admins</span>
      </div>
    </div>
  </p-card>

  <p-table
    #dt
    [value]="users()"
    [tableStyle]="{ 'min-width': '75rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['name', 'email', 'role', 'contractType']"
    stripedRows
    showGridlines
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nombre
          <p-sortIcon field="name"></p-sortIcon>
        </th>

        <th pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>

        <th pSortableColumn="birthDate">Nacimiento
          <p-sortIcon field="birthDate"></p-sortIcon>
        </th>

        <th pSortableColumn="contractType">Contrato
          <p-sortIcon field="contractType"></p-sortIcon>
        </th>

        <th pSortableColumn="modules">Módulos
          <p-sortIcon field="modules"></p-sortIcon>
        </th>

        <th pSortableColumn="role">Rol
          <p-sortIcon field="role"></p-sortIcon>
        </th>

        <th pSortableColumn="status">Estado
          <p-sortIcon field="status"></p-sortIcon>
        </th>

        <th >Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          {{ user.name }}
        </td>

        <td>
          {{ user.email }}
        </td>

        <td>
          {{ user.birthDate | date: "dd/MM/yyyy" }}
        </td>

        <td>
          {{ user.contractType }}
        </td>

        <td>
          {{ user.permissions.join(", ") }}
        </td>

        <td>
          <p-tag [value]="user.role" [severity]="getRoleSeverity(user.role)">
          </p-tag>
        </td>

        <td>
          <p-toggleswitch
            [(ngModel)]="user.status"
            [trueValue]="'Activo'"
            [falseValue]="'Inactivo'"
            (onChange)="toggleStatus(user)"
          >
          </p-toggleswitch>
        </td>

        <td>
          <button
            pButton
            icon="pi pi-pencil"
            rounded
            text
            severity="info"
            (click)="openEditForm(user)"
          ></button>

          <button
            pButton
            icon="pi pi-trash"
            rounded
            text
            severity="danger"
            (click)="deleteUser(user.id!)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No existen usuarios registrados.</td>
      </tr>
    </ng-template>
  </p-table>

  @if (isFormOpen) {
    <app-user-form
      [userToEdit]="selectedUser"
      (onClose)="closeForm()"
    ></app-user-form>
  }
</div>
